@mixin circle($size){
  width: $size;
  height: $size;
  position: relative;
  -webkit-border-radius: $size / 2 ;
  -moz-border-radius: $size / 2 ;
  border-radius: $size / 2 ;
}

@mixin hoverFade($color){
  background-color: $color;
  &:hover {
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
  }
  &.active{
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
  }
  &.active::after {
    height: 0px;
    width: 0px;
    position: absolute;
    bottom: -12px;
    z-index: 100;
    display: block;
    content: "";
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 12px solid $color;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: all 400ms;
  }
  &.active:hover:after {
    transition: all 400ms;
    //border-top: 12px solid darken($color, 20%);
  }
}

@mixin hoverFadeNoCheck($color){
  &:hover {
    background: $color;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
  }
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.clear-floats {
  float: none;
}

.fill-col-void-right {
  padding-right: 87%;
}

// grid system blocks //
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  flex-wrap: wrap;
  width: 100%;
  margin-right: -.5rem;
  margin-left: -.5rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-col-full, .flex-col-12 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-col-10 {
  display: flex;
  flex-direction: column;
  width: 83.33%;
}
.flex-col-9 {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  width: 75%;
}
.flex-col-8 {
  display: flex;
  flex-direction: column;
  width: 66.66%;
}
.flex-col-7 {
  display: flex;
  flex-direction: column;
  width: 58.33%;
}
.flex-col-6 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.flex-col-5 {
  display: flex;
  flex-direction: column;
  width: 41.66%;
}
.flex-col-4 {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}
.flex-col-3 {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.flex-col-2 {
  display: flex;
  flex-direction: column;
  width: 16.66%;
}
.flex-col-1 {
  display: flex;
  flex-direction: column;
  width: 8.33%;
}


// grid system modifiers //
.content-row-width, .content-row {
  max-width: 1120px;
}

.between-xs {
  justify-content: space-between;
  display: flex;
}
.start-xs {
  justify-content: flex-start;
  display: flex;
}
.end-xs {
  justify-content: flex-end;
  display: flex;
}
.center-xs {
  justify-content: center;
  display: flex;
  margin: 0px auto;
}

.title-row {
  width: 100%;
}

@media (max-width: 960px) {
  .between-xs {
    justify-content: space-around;
  }
  .flex-col-full, .flex-col {
  }
}

