@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');
@import './_mixins.scss';

$primaryHighlight: #5BB0B5;
$primaryPurple: #4D5491;
$navigation: RGBA(254, 254, 254, .90);
$selector1: #6C5C97;
$selector2: #E5AE4C;
$selector3: #5BB0B5;
$selector4: #5171C0;
$selector5: #0F9488;
$selector6: #D4689A;

$green: #89C889;
$green2: #8ED1D4;
$pink: #F683B9;
$pink2: #E369A1;
$magenta: #C94281;
$blue: #77AFD4;
$bluePlum: #5D69AB;
$bluePurple: #4C57A2;
$salmon: #FCA79A;
$purple: #907FBA;
$textPurple: #5A478F;
$darkPurple: #5A498D; 
$lightPurple: #B4C6F9;
$mustard: #FCCB6F;
$gold: #FCCB71;
$gray: #F5F5F5;
$textGray: #BCC0CA;
$navigationText: #404B63;


*:focus {
    outline: none;
  }

body, button, h1, h2, h3, h4, h5, li, ul, p, a {
	font-family: 'Lato', sans-serif; 
	font-size: 15px;
}
h1 { font-size: 30px; }
h2 { font-size: 24px; margin: 10px 0px;}
h2.header { text-transform: uppercase; font-size: 21px; font-weight: 900;}
h3 { font-weight: 300; }

p, .markdown p { font-size: 15px; }

.SRC-portalCard .SRC-cardContent a.SRC-primary-text-color {
	color: $textPurple;
}
a, .content .markdown a, .markdown a, .SRC-portalCard .SRC-cardContent h3 a { font-weight: 700; color: $textPurple; text-decoration: none; }
a:hover, .markdown a:hover, .SRC-portalCard .SRC-cardContent h3 a:hover { text-decoration: underline; } 

li { list-style: none; } 

ul.jumbo-list {
  li {
    list-style: none;
  }
  position: relative;
  a {
    position: relative;
  }
}

ul { li { list-style: disc; }}
ol { li { list-style: decimal; }}

html, body {
  max-width: 100%;
  //overflow-x: hidden;
}

.about-page, .page {
  padding-top: 60px;
  h1 {
    font-weight: 900;
  }
}

button:focus, input:focus, select:focus, div:focus { outline:none; }
button:hover, select:hover { cursor: pointer }

button {
  border-width: 0px;
  -webkit-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;

}

button.btn-explore {
  background-color: $primaryPurple;
  height: 39px;
  min-width: 213px;
  border-radius: 24px;
  margin-right: 10px;
  h5 { 
    color: white; 
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  @include hoverFadeNoCheck($primaryPurple);
}

  button.btn-control {
  h5 { 
    font-size: 15px;
    color: white; 
    font-weight: 700; 
    letter-spacing: 0.5px;
  }
  border-radius: 10px;
  border-width: 0px;
  min-height: 40px;
  padding: 7px 25px;
  margin: 10px 5px;
  min-width: 155px;
	@media screen and (max-width: 600px){
		min-width: 140px;
	}
}


.btn-amp {
  color: #1A1C29;
  font-size: 20px;
  font-weight: 600;
  background-color: $lightPurple;
  border: none;
  border-radius: 36px;
  width: 192px;
  height: 52px;
  transition: all .3s ease-in-out;
}

.btn-amp:hover {
  background-color: #C7D6FF;
}
.btn-lg {
  text-decoration: none;
  display: block;
  width: 100%;
  max-width: 300px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.btn-light {
  color: #1A1C29;
  font-size: 20px;
  font-weight: 600;
  background-color: #EDEDED;
  border: none;
  border-radius: 24px;
  width: fit-content;
  height: 48px;
  padding: 0px 20px;
  transition: all .3s ease-in-out;
}
.btn-light:hover {
  background-color: #f5f5f5;
}
.btn-light:active {
  background-color: #E3E1E1;
}

.btn-light-small {
    color: #1A1C29;
    font-size: 16px;
    font-weight: 600;
    background-color: #EDEDED;
    border: none;
    text-align: center;
    border-radius: 24px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: 65px;
    height: 28px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

.main {
  min-height: calc(100vh - 55px);
  margin-top: 0px;
}

.flex {
  display: flex;
}
.justify-end {
  justify-content: flex-end;
}
.justify-start {
  justify-content: flex-start;
}
.container {
  width: 100%;
}
.content {
  max-width: 1120px;
}

details {
  &:hover {
    cursor: pointer;
  }
}

  header { 
    .nav-buttons {
      height: 100%;
      @media screen and (max-width: 720px){
        display: none;
      }
      nav.row {
        padding: 0px;
      }
    }
    .menu-wall {
      position: absolute;
      height: 100vh;
      width: 100vw;
      z-index: 900;
      left: 0;
      top: 0;
      background: transparent;
      border: none;
    }
    .accordion {
      text-align: left;
      cursor: pointer;
      border: none;
      height: 100%;
			font-weight: 400;
			@media screen and (max-width: 720px) {
				height: 150px;
				.nav-item.main-nav-item {
					padding: unset;
				}
			}
      .accordion-row {
        margin: 0px;
        display: block;
      }
      .accordion-sub-row {
        padding: 0px 15px;
      }
      ul {
        padding: 0px;
        margin: 0px;
      }
      .accordion__title {
        width: 100%;
        margin: 0px;
        padding: 15px 0px;
        padding-left: 15px;
        .row {
          padding-left: 10px;
        }
      }
      .accordion__title.link, .about-dropdown .accordion__title {
        padding: 0px 0px 0px 15px;
      }
    }
    .accordion-title.top-level-accordion {
      padding: 0px;
      font-weight: 500;
      font-size: 20px;
      border: none;
      position: relative;
      display: flex;
      height: 100%;
      align-items: center;
    }
    .nav .accordion__body{
      padding: 0px;
      width: 100%;
      ul {
        width: 100%;
      }
      li {
        margin: 0px;
        padding: 10px;
        padding-left: 0px;
				font-weight: 400;
        a.nav-item.dropdown {
          padding: 10px 20px;
          width: 100%;
          font-size: 15px;
					font-weight: 400;
        }
      }
    }
    .accordion-body.top-level-accordion {
      position: absolute;
      display: block;
      z-index: 1000;
      margin-top: 0px;
      margin-left: 20px;
      min-width: 230px;
      max-width: 400px;
      box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.5);
    }
    .about-dropdown {
      margin-right: 65px;
    }
    @media screen and (max-width: 1023px){
      .about-dropdown {
        margin-right: 0px;
      }
    }
    .accordion__body {
      text-align: left;
    }
    a.nav-item {
      padding: 14px 40px; 
			font-weight: 400;
    }
    .accordion__title {
      background-color: $navigation;
			@media screen and (max-width: 720px) {
				background-color: unset;
			}
    }
    .accordion-title[aria-selected="true"], .accordion-title[aria-selected="true"] a {
      background-color: transparent;
    }
    .accordion-title.top-level-accordion[aria-selected="true"]{
      .under-bar {
        opacity: 0;
      }
    }
    .accordion-body[aria-hidden="true"] {
      display: none;
    }
    .accordion__title:hover {
      background-color: $magenta;
      transition: all ease 400ms;
      .row .accordion-sub-title a {
        transition: all ease 400ms;
        color: white;
				font-weight: 400;
      }
    }
		.row .accordion-sub-title a {
			font-weight: 400;
		}
  }


  section.beta-banner {
    padding: 5px 0px;
    background-color: $green2;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .banner-message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: max-content;
    }
    button {
      display: inline-block;
      margin-right: 5px;
    }
    a {
      text-decoration: underline;
    }
    h2 {
      font-size: 16px;
      font-weight: 400;
      display: inline-block;
    }
    .content {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      flex-basis: auto;
    }
  }

 table {
  tr:nth-child(even) {background: #FFF}
  tr:nth-child(odd) {background: #F5F5F5}
  thead {
    background-color: #fff;
    border-top: 1px solid #E6E6E8;
    tr:first-child {background: #fff}
    font-size: 13px;
  }
  thead tr {
    border: 1px solid #DDDDDF; 
    th {
      padding: 10px;
    }
  }
  td {
    border-left: 0px solid #dddddd; 
    border-top: 0px solid #dddddd; 
    border-right: 0px solid #dddddd; 
    padding: 10px;
  }
  tr {
    border-right: 0px solid #dddddd; 
  }
  tbody {
    border-right: 0px !important;
  }
 }

.table-container .markdown table {
  border-collapse: collapse;
  thead {
    background-color: #fff;
    border-top: 1px solid #E6E6E8;
    tr:first-child {background: #fff}
    font-size: 13px;
  }
  tr:nth-child(even) {background: #FFF}
  tr:nth-child(odd) {background: #F5F5F5}
  border-left: unset; 
  border-right: unset; 
  border-bottom: unset; 
  border-collapse: collapse; 
  thead tr {
    border: 1px solid #DDDDDF; 
  }
  td {
    border-left: 0px solid #dddddd; 
    border-top: 0px solid #dddddd; 
    border-right: 0px solid #dddddd; 
    padding: 10px;
  }
  tr {
    border-right: 0px solid #dddddd; 
  }
  tbody {
    border-right: 0px !important;
  }
}

span.jumbo {
  font-size: 42px;
  height: 50px;
  color: $textGray;
  position: absolute;
  display: inline-block;
  margin: auto;
  top: 20px; left: -50px; bottom: 0; right: 0;
}

select {
  font-size: 18px;
}

  div.row.amp-ad {
    max-width: 100%;
    margin: 0px;
  }

  body.noScroll, html.noScroll {
    overflow-y:hidden;
    margin: 0;
    height: 100%
  }


  section div.row {
    margin: 0px auto;
    max-width: 1120px;
  }

  section {
    padding: 25px 50px;
    div.content, form.searchbar-form {
      max-width: 1120px;
    }
  }

  section.page-content {
    div {
      max-width: 1120px;
    }
  }

  section.child-page-hero {
    padding-top: 80px;
    padding-bottom: 20px;
  }

  .content-row {
    div { max-width: 1120px; }
  }

  //@media only screen and (min-width: 48em){
    //.col-sm-9 {
      //flex-basis: 80%;
      //max-width: 80%;
    //}
  //}

  .child-page-hero a, .welcome a {
    color: white;
    text-decoration: underline;
  }

  .loading-bar {
    min-height: 10px;
  }

  .front-page-bar {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      display: flex;
    }
  }

  .align-right {
    text-align: right;
  }

  .content-width {
    max-width: fit-content;
  }

  .Dropdown-control {
    border: none;
    box-shadow: 0px 1px 5px 0px #c7c5c5;
    max-height: fit-content;
  }

  .Dropdown-arrow {
    border-color: $darkPurple transparent transparent !important;
    border-width: 8px 8px 0;
  }

  .thin-large {
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 2px;
  }

  .nav-row {
    height: 70px;
    max-width: 1280px;
    margin: 0px auto;
  }
  .nav {
    position: relative;
    z-index: 1000;
    //height: 100%;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li:hover{
      cursor: pointer;
    }
    li {
      list-style: none;
      position: relative;
      display: flex;
      a {
        text-decoration: none;
      }
    }
    .nav-item{
      font-size: 20px;
      @media screen and (max-width: 960px){
        font-size: 18px;
      }
      @media screen and (max-width: 900px){
        font-size: 17px;
      }
    }
    .nav-item.dropdown {
      display: inline-block;
      padding: 0px;
    }
    .Dropdown-control {
      font-size: 20px;
    }
    .nav>li>a:hover {
       
    }
    a.nav-item:hover, a.nav-item:focus {
      background-color: unset;
      color: black;
    }
    a.nav-item.active {
      font-weight: bold;
    }
    .top-level-accordion-item {
      height: 100%;
    }
    .top-level-accordion-item.active {
      a.main-nav-item {
        font-weight: bold;
        position: relative;
        text-decoration: none;
      }
    }

    div.under-bar {
      position: absolute;
      background-color: $primaryHighlight;
      height: 5px;
      width: 100%;
      left: 0;
      bottom: 0;
      opacity: 0;
      transition: all 300ms ease;
    }
    li:hover { 
      div.under-bar {
        opacity: 1;
      }
    }
    div.under-bar.active{
      //height: 5px;
      opacity: 1;
    }
    div.under-bar.squish {
      //top: 35px;
    }
    div.side-bar {
      background-color: $green2;
    }
  }

  .title-row {
    padding: 20px 0px;
    a {
      color: $darkPurple;
      text-decoration: underline;
    }
  }

  .content {
    margin: 0px auto;
  }


  header {
    li {
      height: 100%;
      flex-direction: row;
      align-items: center;
    }
    a {
      color: black;
      text-decoration: none;
    }
  }

  header.header {
    @media screen and (max-width: 1023px){
      max-height: fit-content;
    }
    max-width: 100vw;
    width: 100vw;
    margin: 0 auto;
    position: fixed;
    left: 0px;
    background: white;
    z-index: 1000;
    box-shadow: 0 1px 5px 0 #808080;

    .burger-menu {
      background: #666666;
      a{
        color: white;
      }
    }
		.bm-burger-button {
        display: none;
      @media screen and (max-width: 600px){
        display: block;
        top: 100px;
      }
      @media screen and (max-width: 721px){
        display: block;
        top: 90px;
      }
		}
		.bm-item-list {
			display: flex;
			flex-direction: column;
			a {
				padding: 10px 0px;
				font-size: 20px;
				font-weight: 300;
			}
			.inset {
				padding-left: 25px;
			} 
			h4 {
				color: white;
				font-size: 20px;
				font-weight: 300;
			}
		}

    img {
      transition: all 200ms ease;
      max-height: 49px;
      margin-top: 5px;
      @media screen and (max-width: 1180px) {
        max-height: 40px;
      }
      @media screen and (max-width: 900px) {
        max-height: 40px;
      }
    }
    .Dropdown-control {
      height: 37px;
      padding-top: 0px;
      padding-right: 44px;
      text-align: left;
      border: none;
      padding-left: 0px;
    }
    .Dropdown-control {
      box-shadow: none;
    }
    .Dropdown-control:hover {
      box-shadow: none;
    }
    .Dropdown-menu {
      width: 250px;
      right: 10px;
    }
    .Dropdown-arrow {
      top: 7px;
    }
    li .Dropdown-root .Dropdown-control div.Dropdown-placeholder {
      cursor: pointer;
    }
    .Dropdown-arrow {
      cursor: pointer;
    }
  }

  .hidden {
    display: none !important;
    height: 0px;
    width: 0px;
  }

  header { 
    @media screen and (max-width: 767px){
      .nav-buttons {
        background-color: white;
      }
    }
    .nav-buttons {
      height: 100%;
      nav.row {
        padding: 0px;
      }
    }
    .menu-wall {
      position: absolute;
      height: 100vh;
      width: 100vw;
      z-index: 900;
      left: 0;
      top: 0;
      background: transparent;
      border: none;
    }
    .accordion {
      text-align: left;
      cursor: pointer;
      border: none;
      background-color: white;
      height: 100%;
      .accordion-row {
        margin: 0px;
        display: block;
      }
      .accordion-sub-row {
        padding: 0px 15px;
      }
      ul {
        padding: 0px;
        margin: 0px;
      }
    }
    .accordion-title.top-level-accordion {
      padding: 0px;
      font-weight: 500;
      font-size: 20px;
      border: none;
      position: relative;
      display: flex;
      height: 100%;
      align-items: center;
    }
    .nav .accordion__body{
      padding: 0px;
      width: 100%;
      ul {
        width: 100%;
      }
      li {
        margin: 0px;
        padding: 10px;
        padding-left: 0px;
        a.nav-item.dropdown {
          padding: 10px 20px;
          width: 100%;
          font-size: 15px;
        }
      }
    }
    .accordion__body li:hover {
      background-color: #f4f4f4; 
    }
    .accordion-body.top-level-accordion {
      position: absolute;
      display: block;
      z-index: 1000;
      margin-top: 0px;
      margin-left: auto;
      min-width: 230px;
      max-width: 400px;
    }
    .accordion__body {
      background: white;
      text-align: left;
    }
    a.nav-item {
      padding: 14px 10px; 
      margin: 0px 10px;
      float: left;
    }
    @media screen and (max-width: 1200px){
      a.nav-item {
        padding: 0px 5px;
      }
    }
    @media screen and (max-width: 1100px){
      a.nav-item {
        padding: 0px 0px;
      }
    }
    .accordion__title {
      background-color: $navigation;
    }
    .accordion-title[aria-selected="true"] a{
      background: $navigation;
    }
    .accordion-title.top-level-accordion[aria-selected="true"]{
      background: $navigation;
      .under-bar {
        opacity: 0;
      }
    }
    .accordion-sub-title, .about-dropdown .accordion-sub-title .nav-item {
      padding-left: 12px;
      font-size: 15px;
      a, a.nav-item.dropdown {
        width: 100%;
        padding: 15px 15px 15px 0px;
        display: inline-block;
      }
    }
    .accordion-body[aria-hidden="true"] {
      display: none;
    }
    .accordion__title:hover {
      background-color: $primaryHighlight;
    }
    .agora-border {
      position: absolute;
      border-left: 1px solid #86D1D5;
      left: -21%;
      height: 26px;
      top: 50%;
      margin-top: -13px;
      @media screen and (max-width: 1023px){
        left: -5px;
      }
    }
    .agora-nav-link {
      .agora-logo {
        margin-top: unset;
      }
      div.under-bar {
        width: 140%;
        left: -55px;
      }
    }
  }

  footer {
    position: relative;
    background-color: $darkPurple;
    color: white;
    min-height: 55px;
		&.flex-row {
			margin-left: 0px;
			margin-right: 0px;
		}
    .links {
      position: relative;
      z-index: 1000;
      justify-content: center;
    }
    .footer-row {
      max-width: 1280px;
    }
    .footer-background {
      background-image: url('../images/molecule-lattice.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 50;
      bottom: 0;
    }
    .logo-header {
      max-width: 265px;
      margin-left: 15px;
    }
    a {
      color: white;
      margin: 10px;
      display: inline-block;
      margin: 0px 15px;
      &:hover {
        color: white;
      }
    }
    .row {
      width: 300px;
    }
  }

  //section.hero {
    //background: linear-gradient(to right, $darkPurple, $bluePurple);
    //padding: 0px;
    //padding-top: 105px;
    //position: relative;
    //height: 500px;
    //.hero-message {
      //padding: 0px;
      //color: white;
      //text-align: left;
      //position: absolute;
      //left: 20px;
      //top: 47%;
      //h1 {
        //margin: 0px;
      //}
    //}
    //@media screen and (min-width: 720px){
      //.welcome-message {
        //left: 5%;
      //} 
    //}
    //@media screen and (min-width: 1000px){
      //.welcome-message {
        //left: 10%;
      //} 
    //}
    //@media screen and (min-width: 1120px){
      //.welcome-message {
        //left: 15%;
      //} 
    //}
    //@media screen and (min-width: 1400px){
      //.welcome-message {
        //left: 20%;
      //} 
    //}
    //.welcome-data {
      //background-color: $bluePlum;
      //height: -webkit-fill-available;
      //right: 0px;
      //position: absolute;
      //padding-right: 30%;
      //ul {
        //text-align: left;
        //width: 300px;
        //margin-top: 60px;
      //}
      //li {
        //color: white;
        //font-size: 18px;
        //margin: 15px 0px;
      //}
    //}
    //.btn-light {
      //margin-top: 10px;
    //}
    //@media screen and (max-width: 914px){
      //padding-top: 60px;
     //.welcome-message {
       //padding: 0px; 
      //}
    //}
  //}
    /////////// home screen //////////////
  section.hero {
    position: relative;
    height: 481px;
    background: linear-gradient(to right, $darkPurple, $bluePurple);
    padding: 0px;
    p, h1 {
      color: white;
    }
    h1 {
      font-weight: 700;
    }
    p {
      font-size: 16px; 
      line-height: 130%
    }
    a {
      color: white;
      text-decoration: underline;
      &:hover {
        color: white;
      }
    }
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: absolute;
      z-index: 100;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 20px;
    }
    @media screen and (max-width: 1265px){
      .container {
        left: 5%;
      }
    }
    .hero-message {
      div {
        background-color: unquote('#ffffff10');
        margin-bottom: 30px;
        padding: 10px 21px;
      }
    }
    .hero-background {
      background-image: url('../images/molecule-lattice.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 50;
      bottom: 0;
    }
    .hero-background:before {
      filter: blur(5px);
    }
  }


  ///// explore section /////
  section.page.explore {
    margin-top: 50px;
  }
  section.explore-content, div.explore-content {
		.explore-publications {
			max-width: 1033px;
			margin: 0px auto;
		}

    margin-bottom: 80px;
		@media screen and (max-width: 600px){
			margin-bottom: 220px;
		}
    .col-xs-2 {
      margin-top: 18px;
    }
    .container .container-fluid {
      padding: 0px;
      .col-xs-12 { 
        padding: 0px;
      }
    }

    .selectors-container {
      max-width: 1033px;
    }
    .selectors {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
      @media screen and (max-width: 720px){
        flex-direction: unset;
      }
      button {
        position: relative;
      }
      button.active {
        
      }
      margin: 20px 0px;
      button:first-child {
        @include hoverFade($selector1);
      }
      button:nth-child(2) {
        @include hoverFade($selector2);
      }
      button:nth-child(3) {
        @include hoverFade($selector3);
      }
      button:nth-child(4) {
        @include hoverFade($selector4);
      }
      button:nth-child(5) {
        @include hoverFade($selector5);
      }
      button:nth-child(6) {
        @include hoverFade($selector6);
      }
    }

    .synapse-chart {
      max-width: 1033px;
      margin: 0px auto;
      .bar-section .SRC-portalCard {
        margin-left: 0px;
        margin-right: 0px;
      }
    }

		.Projects {
			.container-fluid {
				margin-right: -22px;
				margin-left: -22px;
			}
		}

    .bar-chart {
      @media screen and (max-width: 720px){
        height: 450px;
      }
      @media screen and (max-width: 520px){
        height: 480px;
      }
      .explore-button-row {
        position: absolute;
        bottom: -59px;
        right: 0;
        @media screen and (max-width: 1115px){
          bottom: -130px;
        }
				@media screen and (max-width: 600px){
					bottom: -200px;
				}
      }
      .selectors-container {
				max-width: 700px;
			}
      .synapse-chart {
        position: absolute;
        top: 100px;
        right: 0px;
        width: 100%;
        max-width: unset;
        margin: 0px auto;
        @media screen and (max-width: 1115px){
          top: 160px;
        }
        .btn {
          font-size: initial;
          background-color: initial;
          width: initial;
          height: initial;
          display: inherit;
        }
        .row.SRC-center-text {
          display: block;
          box-sizing: initial;
        }
        .SRC-bar-border-bottom {
          padding-bottom: 20px;
        }
      }
    }
    .SRC-grayBackground {
      background: unset; 
    }
  }

  .SRC-center-text {
    button.btn {
      color: #1A1C29;
      height: initial;
      width: initial;
      background-color: initial;
      border-radius: initial;
      font-size: 20px;
      font-weight: 600;
      border: none;
      transition: all .3s ease-in-out;
    }
  }

  .box {
    align-content: center;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(199,197,197,1);
    -moz-box-shadow: 0px 0px 8px 2px rgba(199,197,197,1);
    box-shadow: 0px 0px 8px 2px rgba(199,197,197,1);
    h4 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 15px;
      text-align: center;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      padding: 15px;
    }
    .box-text-image {
      max-width: 230px;
      display: flex;
      flex-direction: column;
      img {
      }
    }
  }
  
  .box-wide {
    align-content: center;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(199,197,197,1);
    -moz-box-shadow: 0px 0px 8px 2px rgba(199,197,197,1);
    box-shadow: 0px 0px 8px 2px rgba(199,197,197,1);
    padding: 20px 10px;
    height: 440px;
    min-width: 290px;
    h4 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 15px;
      text-align: center;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      text-align: center;
    }
    .box-text-image {
      max-width: 230px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      img {
        padding-bottom: 30px;
      }
    }
  }

  section.analyses {
    .content { 
      margin: 0px auto;
    }
    .box {
      max-width: 270px;
      height: 448px;
    }
    button {
      justify-content: flex-end;
    }
  }

  section.programs {
    .query-wrapper {
      margin-left: -30px;
      margin-right: -30px;
    }
    .box {
      height: 470px;
      position: relative;
      min-width: 215px;
      max-width: 225px;
      margin: 10px 5px;
      .btn{
        width: 142px;
      }
      h4 {
        height: 50px;
        margin-top: 15px;

      }
      .box-text-image p {
        font-size: 14px;
        font-weight: 400;
      }
      p {
        text-align: left;
      }
      button {
        position: absolute;
        margin: auto;
        bottom: 30px;
        left: 0;
        right: 0;
      }
    }
    .box-text-image {
      margin-top: 35px;
      max-width: 230px;
      height: 100%;
      img { 
        height: 80px;
      }
    }
  }

  section.what-new, section.programs {
    .markdown h4 {
      padding: 0px;
			font-size: 18px;
			font-weight: 700;
    }
    .markdown h5 {
      padding: 0px;
			font-size: 14px;
			color: #767676;
    }
		p {
			font-size: 15px;
      line-height: 21px;
		}
    .title-row {
      line-height: 10px;
      margin-bottom: 0px;
      margin-top: 0px;
      padding: 0px;
      display: flex;
      flex-direction: column
    }
    .type-of-release {
      font-size: 18px;
      margin: 0px;
      padding: 0px;
    }
    .sub-title {
      font-size: 18px;
      font-weight: 300;
      margin: 5px 0px;
      color: #D3D5DB;
      font-style: italic;
    }
    .what-new-data { 
      padding-top: 6px;
      h5 {
        font-size: 18px;
        padding-top: 0px;
        margin-top: 0px;
        color: #D3D5DB;
        font-weight: 400;
        margin-bottom: 10px;
      }
      h2 {
        padding: 0px;
      }
      h4 {
        padding: 0px;
      }
    }
    .what-new-data {
      p {
        font-size: 18px;
      }
    }
    .description {
      margin: 0px;
    }
    a.read-more {
      margin: 20px 0px;
      display: block;
      text-decoration: underline;
      font-size: 18px;
    }
  }
  section.contribute-your-data {
    box-shadow: 0 -5px 10px -5px #9996;
    margin: 0px -15px;
    padding: 55px 0px;
    .content-block {
      text-align: left;
      padding: 0px 0px 0px 100px;
    }
  }

  ///////// program pages ////////////////
  .program {
    .content-row {
      margin-top: -50px; 
    }
  }

  //// about pages
  section.about-intro-section, section.content-section {
    text-align: left;
    div.col-sm-9 {
      padding: 0px;
      @media screen and (max-width: 1305px) {
      }
      text-align: left;
    }
    p {
      font-size: 18px; 
      letter-spacing: .35px;
      line-height: 24px;
    }
    h2 { 
      margin-top: 50px;
      font-size: 20px;
    } 
    h3 {
      font-size: 18px;
      font-weight: 500;
    }
    ul {
      margin-left: 50px;
    }
    li {
      list-style: disc;
      letter-spacing: .35px;
      line-height: 24px;
      margin: 5px 0px;
    }
    ul.jumbo-list li {
      list-style: none;
      position: relative;
      padding: 20px 0px;
    }
    div.projects {
      a {
        display: block;
        text-decoration: underline;
        color: $blue; 
        font-size: 18px;
        margin-top: 25px;
      }
      p {
        margin: 0px;
        margin-top: 8px;
        line-height: 18px;
      }
    }
    button.btn {
      margin-top: 20px;
    }
  }

  .about {
    section {
      text-align: left;
    }
  }

  .select-publications {
    margin-bottom: 20px;
  }

  section.about-section-content {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
    
    .program-row {
      border-bottom: 1px solid #BDBDBD; 
      padding-bottom: 30px;
    }
  }

    .expand-section {
      height: fit-content;
      margin-bottom: inherit;
    }
    .expand-section.hide-expand {
      //max-height: 150px;
      margin-bottom: -10px;
    }
    input[type=checkbox]{
      visibility: hidden;
    }
    .expand-icon {
      height: 50px;
      width: 50px;
      max-width: 65px;
      position: relative;
      top: 70px;
      background-repeat: no-repeat;
      background-position: center;
      &.plus {
        background-image: url(../images/plus-icon.svg);
      }
      &.minus {
        background-image: url(../images/minus-icon.svg);
      }
    }
    .expand-icon:hover {
      cursor: pointer;
    }
    .content {
      overflow-y: hidden;
      transition: max-height 1s ease-out;
      max-height: fit-content;
      height: auto;
    }
    .content.hide-expand {
      max-height: 160px;
    }

  section.about-section-content.select-publications {
    .content {
      overflow-y: hidden;
      transition: max-height .3s ease-out;
      max-height: 300px;
      height: auto;
    }
    .content.hide-expand {
      max-height: 0px;
    }
    .about-col {
      .row.heading-section {
        padding-left: 4px; 
        padding-right: 4px; 
      }
    }
    .publications-row {
      h4 {
        color: $gray;
        font-size: 16px;
        font-weight: 300;
      }
      h2 {
        font-size: 18px;
        font-weight: 300;
      }
      a h2 {
        color: $darkPurple;
        text-decoration: underline;
        font-weight: 400;
      }
    }
  }

  section.select-publications {
    box-shadow: 0 10px 5px -5px #9996;
    padding-bottom: 40px;
    margin-left: -12px;
    margin-right: -12px;
  }

  section.about-m2ove-intro-section {
    text-align: left;
    margin-left: -12px;
    margin-right: -12px;
    box-shadow: -1px -5px 5px -4px #9996;
    padding-bottom: 40px;
    margin-top:10px;
    li { 
      list-style: disc;
    }
    li:first-child{
      margin-left: -20px;
      list-style: none;
      font-weight: bold;
    }
  }

  section.about-resilience-intro-section {
    box-shadow: -1px -5px 5px -4px #9996;
    margin-top:10px;
  }

  ///// Research Page //////
  .research-page {
    .content-row {
      h3 {
        margin-bottom: 5px;
      }
      h4 {
        margin: 0px;
        font-weight: 300;
      }
      .content.hide-expand {
        max-height: 80px;
        overflow: hidden;
      }
    }
    .expand-icon {
      top: 12px;
    }
  }
  .research-page.hide {
  }


  ///// External Researchers ////////
  p.researcher-bio {
    overflow: hidden;
  }

  .research-page, .data-page {
    .markdown h3 {
      font-size: 19px;
      padding: 10px 0px 10px 0px;
    }
  }
  
  .researchers-content, .content-section, .about-intro-section {
    * {
      padding-left: 0px;  
    }
    div {
      max-width: 1120px;
    }
    .expand-section {
      margin-bottom: 60px;
    }
    .expand-section.hide-expand {
      max-height: 170px;
      padding-left: 0px;
    }
    .content.hide-expand {
      max-height: 170px;
    }
    .researcher {
      h2 {
        margin-top: 0px;
      }
      h4 {
        margin-bottom: 0px;
      }
    }
    .markdown-parent {
      li {
        list-style: initial;
      }
      ol li {
        list-style-type: decimal; 
      }
    }
  }

  ///// research-publications /////
  .research-publications {
    .row.publication {
      h2 {
        font-size: 24px; 
      }
      h4 {
        color: #9DA3B3;
        font-weight: 300;
        a {
          color: #9DA3B3;
          font-weight: 300;
        }
      }
      .border-bottom {
        border-bottom: 1px solid #E6E6E8;
      }
      .col-xs-12 {
        margin: 30px 0px;
      }
    }
    .react-markdown > div:first-child { display: none; }
  }

  //// experimental resources /////
  .experimental-resource, .row.publication {
    position: relative;
    .border-bottom {
      border-bottom: 1px solid black;
      width: 100vw;
      position: absolute;
      top: 100%;
      //margin-left: 8px;
    }
    .col-xs-12 {
      padding: 0px;
    }
  }

  .modal-container {
    width: 80%;
    max-width: 100% !important;
    position: relative;
    margin: 0px auto;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0px;
    table {
      box-shadow: 0px 2px 1.5px rgba(0, 0, 0, 0.35);
    }
  }

  .modal-x {
    background-image: url(../images/modalX.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 30px;
    width: 30px;
    z-index: 1100;
    top: 9px;
    left: 9px;
  }
  .modal-x:hover {
    cursor: pointer;
  }

  .modal-x-background-circle {
    background-color: white;
    @include circle(48px);
    z-index: 1000;
    top: 20px;
    right: 30px;
    box-shadow: 0px 2px 1.5px rgba(0, 0, 0, 0.35);
  }
  .modal-x-background-circle:hover {
    cursor: pointer;
  }

  .experimental-resources {
    .modal {
      display: none;
    }
    .modal.show {
      display: block;
      position: fixed;
      z-index: 10000;
      height: 100vh;
      width: 100vw;
      background: #00000090;
      top: 0px;
      left: 0px;
      overflow-y: scroll;
    } 

    .modal-content {
      position: relative;
      margin: 0px auto;
      margin: 0px auto;
      top: 10%;
      left: 0px;
      right: 0px;
      bottom: 0px;
      width: 80%;
    }

    table {
      //display: none;
      width: 100%;
    }
    .modal table {
      display: inline-table;
    }
    .table-button {
      margin-bottom: 20px;
    }
  }

  .researchers-content .studies-section, .content-section {
    .content {
      h2 {
        margin-bottom: 0px;
      }
      h4 {
        margin-bottom: 0px;
      }
      p {
        margin: 0px;
      }
      padding-left: 0px;
    }
    .content {
      &.hide-expand {
        max-height: 168px;
      }
    }
    .expand-section {
      &.hide-expand {
        max-height: 168px;
      }
      margin-bottom: 10px;
    }
  }
  .researchers-content {
    div.row.study-overview {
      margin-bottom: 35px;
    }
  }

  .studies-section {
    .study-overview {
      ul {
        margin-top: 0px;
        padding-left: 0px;
      }
    }
    .content {
      margin: 0px;
      overflow-x: hidden;
      .col-md-11 {
        @media screen and (max-width: 1180px){
          max-width: 85%;
        }
      }
    }
    .btn-lg {
      width: auto;
      padding: 0px 20px;
    }
  }
  .studies-col {
    .col-xs-12, &.col-xs-12 {
      padding: 0px;
    }
  }
  .study-overview {
    table {
      width: 91.66666667%;
    }
    thead, tbody {
      display: flex;
      flex-direction: column;
    }
    tr {
      display: flex;
      //width: 100%;
    }
    th, td {
      width: 33.3%;
      padding: 0px 10px;
    }
    th.data-types, td.data-types {
      width: 30%;
    }
    th.tissues, td.tissues {
      width: 55%; 
    }
    th.individuals, td.individuals {
      width: 15%;
    }
  }

  ////// people ////// 
  section.researchers-content.people {
    min-height: 800px;
  }

  button.headshot-col {
    background: transparent;
    border: none;
  }
  button.modal-lightbox {
    position: fixed;
    color: white;
    opacity: .75;
    z-index: 800;
    width: 100vw;
    height: 100vh;
    top: 400px;
    right: 0;
    bottom: 0;
    left: 0;
  }
  button.modal-x {
    background-size: cover;
    position: fixed;
    z-index: 1000;
    top: 141px;
    left: 25px;
    width: 40px;
    height: 40px;
    border: none;
  }
  .profile {
    position: fixed;
    z-index: 950;
    padding: 30px;
    padding-top: 110px;
    width: 100vw !important;
    max-width: 100% !important;
    height: fit-content;
    min-height: 400px;
    margin: auto;
    top: 45px;
    left: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    .profile-image-container {
      justify-content: center;
      align-items: center;
      align-content: center;
      display: flex;
    }
    div {
      max-width: 100%;
    }
    .row {
      //margin-top: 100px;
      width: 100%;
      margin: 0px auto;
    }
    h3 {
      min-width: 380px;
    }
    p.profile-summary {
      //max-height: 300px;
      //overflow-y: scroll;
    }
    .scrollbar {
      width: 0px;
      background: transparent; 
    }
    .profile-image-large {
      @include circle(150px);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .headshot-col .background-highlight {
    @include circle(94px);
    background-color: white;
    position: relative;
    z-index: 400;
    margin: auto;
    top: -122px;
    right: 0;
    left: 0;
    bottom: 0;
    transition: background-color .3s;
  }
  .headshot-col:hover {
    cursor: pointer;
    .background-highlight {
      background-color: $darkPurple;
      opacity: .5;
      transition: background-color .3s;
      position: relative;
      z-index: 400;
      margin: auto;
      top: -122px;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
  .headshot-col:active {
  }
  .headshot-col{
    justify-content: center;
    align-content: center;
    postion: relative;
    display: inline-block;
    min-width: 181px;
    max-height: 170px;
    z-index: 900;
    div {
      position: relative;
      z-index: 500;
      .headshot {
        @include circle(86px);
        margin: 0px auto;
        display: block;
        position: relative;
        z-index: 500;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  /////// media queries //////////
  @media screen and (max-width: 480px) {
		html, body {
			overflow-x: hidden;
		}
    header.header img{
      max-height: 35px;
    }
		footer {
			img.logo-header {
				max-width: 60%;
				margin: 10px auto;	
			}
			.links {
				margin: 10px 0px;
			}
		}
    .main {
      //margin-top: 50px;
			min-height: calc(100vh - 155px);
    }
    ul.nav {
      flex-direction: column;
      text-align: left;
      li {
        margin: 10px;
      }
    }
    section.analyses, section.programs, section.what-new, section.explore-content {
			padding: 10px;
      .box {
        margin: unset;
        margin-bottom: 10px;
        max-width: unset;
      }
    }
		section.programs {
		}
  }
  
  .SRC-bar-border > div:first-child {
    width: 100%;
  }

