@import url(https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700");
body, button, h1, h2, h3, h4, h5, li, ul, p, a {
  font-family: 'Lato', sans-serif; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

h1 {
  font-size: 30px; }

h3 {
  font-weight: 300; }

p {
  font-size: 12px; }

a {
  color: black;
  text-decoration: none; }

li {
  list-style: none; }

select {
  font-size: 18px; }

.Dropdown-control {
  border: none;
  box-shadow: 0px 1px 5px 0px #c7c5c5;
  max-height: fit-content; }

.Dropdown-arrow {
  border-color: #5A498D transparent transparent !important;
  border-width: 8px 8px 0; }

.thin-large {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 2px; }

.pie-list-item, .pop-list-item {
  font-size: 18px;
  font-weight: 400;
  color: #5A478F;
  text-decoration: underline; }

button:focus, input:focus, select:focus {
  outline: none; }

button:hover, select:hover {
  cursor: pointer; }

.btn {
  color: #1A1C29;
  font-size: 20px;
  background-color: #B4C6F9;
  border: none;
  border-radius: 24px;
  width: 192px;
  height: 52px;
  transition: all .3s ease-in-out; }

.btn:hover {
  background-color: #3e6cf0;
  color: white; }

.btn-light {
  color: #1A1C29;
  font-size: 20px;
  background-color: #F5F5F5;
  border: none;
  border-radius: 24px;
  width: fit-content;
  height: 48px;
  padding: 0px 20px;
  transition: all .3s ease-in-out; }

.btn-light:hover {
  background-color: darkgray;
  color: white; }

div.row.amp-ad {
  max-width: 100%;
  margin: 0px;
  min-height: 100%; }

.nav li {
  list-style: none;
  margin: 0px 10px; }
.nav a.nav-item.active {
  font-weight: bold; }

.title-row {
  padding: 20px 0px; }

section {
  padding: 25px 50px; }

.content {
  margin: 0px auto; }

header.header {
  padding: 25px;
  max-width: 1100px;
  width: 100%;
  margin: 0px auto; }
  header.header .Dropdown-control {
    height: 37px;
    padding-top: 0px;
    padding-right: 44px;
    text-align: left;
    border: none; }
  header.header .Dropdown-control {
    box-shadow: none; }
  header.header .Dropdown-control:hover {
    box-shadow: none; }
  header.header .Dropdown-menu {
    width: 250px;
    right: 10px; }
  header.header .Dropdown-arrow {
    top: 7px; }

footer {
  background-color: #5A498D;
  color: white;
  height: 56px;
  width: 100%;
  margin: 0px !important; }
  footer a {
    color: white;
    margin: 10px; }

section.welcome {
  background: linear-gradient(to right, #5A498D, #4C57A2);
  padding: 0px; }
  section.welcome .welcome-message {
    padding: 0px 0px 0px 100px;
    color: white;
    text-align: left; }
    section.welcome .welcome-message h1 {
      margin: 0px; }
  section.welcome .welcome-data {
    background-color: #5D69AB;
    padding: 60px 30px;
    right: -120px;
    position: relative;
    padding-right: 30%; }
    section.welcome .welcome-data ul {
      text-align: left;
      width: 300px; }
    section.welcome .welcome-data li {
      color: white;
      font-size: 18px;
      margin: 15px 0px; }
  section.welcome .btn-light {
    margin-top: 10px; }

section.pie-charts-welcome {
  background-color: #F5F5F5;
  padding-top: 0px; }
  section.pie-charts-welcome .pie-circle {
    display: inline-block;
    margin: 0px 5px;
    width: 13px;
    height: 13px;
    position: relative;
    -webkit-border-radius: 6.5px;
    -moz-border-radius: 6.5px;
    border-radius: 6.5px;
    max-width: 13px;
    padding: 5px; }
  section.pie-charts-welcome .pie-chart-welcome {
    position: relative;
    max-width: 310px; }
  section.pie-charts-welcome .pie-container {
    position: relative;
    margin-bottom: 20px; }
  section.pie-charts-welcome .pie-counts-list {
    height: 130px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center; }
  section.pie-charts-welcome .pie-counts-list[data-value="true"] {
    overflow: visible;
    height: fit-content;
    max-height: 2000px;
    transition: all 1s ease; }
  section.pie-charts-welcome p.pie-list-item {
    text-align: left;
    margin: 5px 0px; }
  section.pie-charts-welcome .pie-circles-container {
    position: relative; }
  section.pie-charts-welcome .chart-center-stat {
    max-height: 190px;
    max-width: 190px;
    background: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 15vw;
    height: 15vw;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0; }
    section.pie-charts-welcome .chart-center-stat p, section.pie-charts-welcome .chart-center-stat h1 {
      display: block;
      text-align: center;
      width: 100%;
      margin: 0px; }
  section.pie-charts-welcome .pie-counts-button {
    width: fit-content;
    padding: 0px 20px;
    line-height: 18px;
    margin-top: 20px; }

section.searchbar {
  background-color: #F5F5F5;
  padding: 20px; }
  section.searchbar .Dropdown-arrow {
    right: 20px;
    top: 23px;
    border-width: 8px 8px 0; }
  section.searchbar .Dropdown-control {
    line-height: 40px;
    padding-left: 20px;
    font-size: 18px; }
  section.searchbar .search-icon-box {
    display: none; }
  section.searchbar h2 {
    margin: 0px; }
  section.searchbar form {
    margin: 0px auto;
    width: 100%; }
    section.searchbar form p {
      display: inline-block; }
  section.searchbar .search-icon-box {
    justify-content: flex-end;
    display: flex; }

section.popular-data-requests .pop-assay {
  margin: 0px auto;
  text-align: left; }
section.popular-data-requests .pop-assay-title h5 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 100%; }
section.popular-data-requests .pop-circle {
  display: inline-block;
  margin: 0px 5px;
  width: 10px;
  height: 10px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-width: 5px;
  padding: 5px; }
  section.popular-data-requests .pop-circle:nth-child(1) {
    background-color: #77AFD4; }
section.popular-data-requests .popular-col {
  padding: 0px; }
  section.popular-data-requests .popular-col img {
    height: 100px; }

.box {
  align-content: center;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 8px 2px #c7c5c5;
  -moz-box-shadow: 0px 0px 8px 2px #c7c5c5;
  box-shadow: 0px 0px 8px 2px #c7c5c5;
  margin: 10px; }
  .box h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px; }
  .box p {
    font-size: 18px;
    font-weight: 400; }

section.analyses .content {
  margin: 0px auto; }
section.analyses .box {
  max-width: 270px;
  height: 448px; }
section.analyses .box-text-image {
  margin-top: 30px;
  max-width: 230px; }
section.analyses button {
  justify-content: flex-end; }
section.analyses h2 {
  margin: 0px; }

section.programs .box {
  min-width: 215px;
  max-width: 215px;
  height: 448px;
  margin: 10px 5px; }
  section.programs .box .btn {
    width: 142px; }
  section.programs .box .box-text-image p {
    font-size: 14px;
    font-weight: 400; }
  section.programs .box p {
    text-align: left;
    padding: 0px 10px; }
section.programs .box-text-image {
  margin-top: 30px;
  max-width: 230px; }

section.what-new .title-row {
  line-height: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px; }
section.what-new .what-new-data-icon.vertical-line {
  border-left: 1px dotted #D3D5DB;
  height: 150px;
  max-width: 25px;
  margin-left: 30px; }
section.what-new .what-new-data-icon img {
  margin-left: -20px;
  background: white;
  padding: 5px; }
  section.what-new .what-new-data-icon img.lightbulb {
    margin-left: -24px; }
section.what-new .what-new-data {
  padding-top: 6px; }
  section.what-new .what-new-data h5 {
    padding-top: 0px;
    margin-top: 0px;
    color: #D3D5DB; }
section.what-new .what-new-data div p:first-child {
  display: none; }
section.what-new .what-new-data div ul:nth-child(2) {
  display: none; }
section.what-new .what-new-data div p:nth-child(2) {
  display: none; }
section.what-new .what-new-data div h3:nth-child(3) {
  display: none; }
section.what-new .what-new-data div h2:nth-child(4) {
  display: none; }
section.what-new .what-new-data div h3:nth-child(5) {
  display: none; }
section.what-new .what-new-data div p:nth-child(6) {
  display: none; }
section.what-new .what-new-data div h3:nth-child(7) {
  display: none; }
section.what-new .what-new-data div hr:nth-child(15) {
  display: none; }
section.what-new .what-new-data div h3:nth-child(16) {
  display: none; }
section.what-new .what-new-data div p:nth-child(17) {
  display: none; }
section.what-new .what-new-data div hr:nth-child(18) {
  display: none; }
section.what-new .what-new-data div h3:nth-child(19) {
  display: none; }
section.what-new .what-new-data div h2:nth-child(20) {
  display: none; }
section.what-new .what-new-data div h3:nth-child(21) {
  display: none; }
section.what-new .what-new-data div ul:nth-child(22) {
  display: none; }
section.what-new .what-new-data div p strong {
  font-size: 18px; }

section.contribute-your-data {
  box-shadow: 0 -5px 10px -5px #9996;
  margin: 0px -15px;
  padding: 55px 0px; }
  section.contribute-your-data .content-block {
    text-align: left;
    padding: 0px 0px 0px 100px; }

.child-page-hero h2 {
  color: white; }

section.child-page-hero {
  background: linear-gradient(to right, #5A498D, #4C57A2); }
  section.child-page-hero p {
    color: white; }

.about section {
  text-align: left; }
.about p {
  font-size: 16px; }

.select-publications {
  margin-bottom: 20px; }

section.about-section-content {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left; }
  section.about-section-content .expand-section {
    height: fit-content;
    margin-bottom: inherit; }
  section.about-section-content .expand-section.hide {
    height: 0px;
    margin-bottom: -10px; }
  section.about-section-content input[type=checkbox] {
    visibility: hidden; }
  section.about-section-content .expand-icon {
    height: 50px;
    width: 50px;
    position: relative;
    top: -60px;
    background-repeat: no-repeat;
    background-position: center; }
    section.about-section-content .expand-icon.plus {
      background-image: url(./images/plus-icon.svg); }
    section.about-section-content .expand-icon.minus {
      background-image: url(./images/minus-icon.svg); }
  section.about-section-content .expand-icon:hover {
    cursor: pointer; }
  section.about-section-content .content {
    overflow-y: hidden;
    transition: max-height 1s ease-out;
    max-height: 1500px;
    height: auto; }
  section.about-section-content .content.hide {
    max-height: 0px; }
  section.about-section-content .program-row {
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 30px; }

section.about-section-content.select-publications .content {
  overflow-y: hidden;
  transition: max-height .3s ease-out;
  max-height: 300px;
  height: auto; }
section.about-section-content.select-publications .content.hide {
  max-height: 0px; }
section.about-section-content.select-publications .about-col .row.heading-section {
  padding-left: 4px;
  padding-right: 4px; }
section.about-section-content.select-publications .publications-row h4 {
  color: #F5F5F5;
  font-size: 16px;
  font-weight: 300; }
section.about-section-content.select-publications .publications-row h2 {
  font-size: 18px;
  font-weight: 300; }
section.about-section-content.select-publications .publications-row a h2 {
  color: #5A498D;
  text-decoration: underline;
  font-weight: 400; }

section.select-publications {
  box-shadow: 0 10px 5px -5px #9996;
  padding-bottom: 40px;
  margin-left: -12px;
  margin-right: -12px; }

section.about-m2ove-intro-section {
  text-align: left;
  margin-left: -12px;
  margin-right: -12px;
  box-shadow: -1px -5px 5px -4px #9996;
  padding-bottom: 40px;
  margin-top: 10px; }
  section.about-m2ove-intro-section li {
    list-style: disc; }
  section.about-m2ove-intro-section li:first-child {
    margin-left: -20px;
    list-style: none;
    font-weight: bold; }

section.about-resilience-intro-section {
  box-shadow: -1px -5px 5px -4px #9996;
  margin-top: 10px; }

/*# sourceMappingURL=style.css.map */
