@import url(https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css);
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');

$green: #89C889;
$pink: #F683B9;
$blue: #77AFD4;
$bluePlum: #5D69AB;
$bluePurple: #4C57A2;
$salmon: #FCA79A;
$purple: #907FBA;
$darkPurple: #5A498D; 
$lightPurple: #B4C6F9;
$mustard: #FCCB6F;
$gray: #F5F5F5;

@mixin circle($size){
  width: $size;
  height: $size;
  position: relative;
  -webkit-border-radius: $size / 2 + 0px;
  -moz-border-radius: $size / 2 + 0px;
  border-radius: $size / 2 + 0px;
}

body, h1, h2, h3, h4, h5, li, ul, p, a {
	font-family: 'Lato', sans-serif; 
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

h1 { font-size: 30px; }
h3 { font-weight: 300; }

p {
  font-size: 12px;
}

a {
	color: black;
	text-decoration: none;
}

li {
	list-style: none;	
}

button:focus, input:focus, select:focus { outline:none; }
button:hover, select:hover { cursor: pointer }

.Dropdown-control {
	width: 200px;
	height: 37px;
}

.btn {
  color: black;
  font-size: 20px;
  background-color: $lightPurple;
  border: none;
  border-radius: 24px;
  width: 192px;
  height: 48px;
}

.btn-light {
  color: black;
  font-size: 20px;
  background-color: $gray;
  border: none;
  border-radius: 24px;
  width: 192px;
  height: 48px;
}

div.row.amp-ad {
  max-width: 100%;
	margin: 0px;
}

.nav {
  li {
    list-style: none;
    margin: 0px 10px;
  }
	a.nav-item.dropdown {
		//height: 20px;
		//width: 200px;
		//display: block;
		//position: relative;
		//right: 90px;
		//z-index: 100000;
	}
}

.title-row {
  padding: 20px 0px;
}

section {
  padding: 25px 50px;
}

.main {
}

.content {
	margin: 0px auto;
}

header.header {
	padding: 25px;
	max-width: 1100px;
	width: 100%;
	margin: 0px auto;
}

footer {
  background-color: $darkPurple;
  height: 56px;
  width: 100%;
}

section.welcome {
	background: linear-gradient(to right, $darkPurple, $bluePurple);
	padding: 0px;
	.welcome-message {
		padding: 0px 0px 0px 100px;
		color: white;
		text-align: left;
		h1 {
			margin: 0px;
		}
	}
	.welcome-data {
		background-color: $bluePlum;
    padding: 60px 70px;
		right: -120px;
		position: relative;
		ul {
			text-align: left;
		}
		li {
			color: white;
			font-size: 18px;
			margin: 15px 0px;
		}
	}
}

section.pie-charts-welcome {
  background-color: $gray;
  padding-top: 0px;
  .pie-circle {
    display: inline-block;
    margin: 0px 5px;
    @include circle(10px);
    max-width: 5px;
    padding: 5px;
  }

  .pie-chart-welcome {
    position: relative;
    max-width: 310px;
  }
  .pie-container {
    position: relative;
  }
  .pie-counts-list {
    max-height: 75px;
    overflow: hidden;
    padding: 0px 10px;
    transition: all 1s ease;
  }
  .pie-counts-list[data-value="true"]{
    overflow: visible;
    height: fit-content;
    max-height: 2000px;
    transition: all 1s ease;
  }
  p.pie-list-item {
    text-align: left;
    margin: 5px 0px;
  }
  .chart-center-stat {
    top: 28.25%;
    left: 16.25%;
    background: white;
    @include circle(190px);
    height: 57.5%;
    width: 67.5%;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    align-content: center; 
    justify-content: center;
    p, h1 {
      display: block;
      text-align: center;
      width: 100%;
      margin: 0px;
    }
  }
}

section.searchbar {
	background-color: $gray;
	h2 {
		margin: 0px;
	}
	padding: 20px;
	form { 
		margin: 0px auto;
    width: 100%;
    p {
		  display: inline-block;
	  }
  }
	.search-icon-box {
		justify-content: flex-end;
    display: flex;
	}
}

section.popular-data-requests {
  .popular-col {
    padding: 0px;
    img {
      height: 100px;
    }
    h5 {
      //margin: 0px;
    }
  }
}

.box {
  align-content: center;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(199,197,197,1);
  -moz-box-shadow: 0px 0px 8px 2px rgba(199,197,197,1);
  box-shadow: 0px 0px 8px 2px rgba(199,197,197,1);
  margin: 10px;
  h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
  }
}

section.analyses {
	.content { 
		margin: 0px auto;
	}
  .box {
    max-width: 270px;
    height: 448px;
  }
  .box-text-image {
    margin-top: 30px;
    max-width: 230px;
  }
  button {
    justify-content: flex-end;
  }
  h2 {
    margin: 0px;
  }
}

section.programs {
  .box {
    max-width: 211px;
    height: 448px;
    margin: 10px 0px;
    .box-text-image p {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .box-text-image {
    margin-top: 30px;
    max-width: 230px;
  }
}

section.what-new {
	.what-new-data div {
		p:first-child { display: none }		
		ul:nth-child(2) {display: none }
		p:nth-child(2) {display: none }
		h3:nth-child(3) {display: none }
		h2:nth-child(4) {display: none }
	}
}

//// about page
.about {
	h2 { color: white; } 
}
section.child-page-hero {
	p { color: white; }
	background: linear-gradient( to right, $darkPurple, $bluePurple );
}
