@import url(https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css);
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');

body, h1, h2, h3, h4, h5, li, ul, p, a {
	font-family: 'Lato', sans-serif; 
}

p {
  font-size: 12px;
}

a {
	color: black;
	text-decoration: none;
}

$green: #89C889;
$pink: #F683B9;
$blue: #77AFD4;
$salmon: #FCA79A;
$purple: #907FBA;
$lightPurple: #B4C6F9;
$mustard: #FCCB6F;
$gray: #F5F5F5;

@mixin circle($size){
  width: $size;
  height: $size;
  position: relative;
  -webkit-border-radius: $size / 2 + 0px;
  -moz-border-radius: $size / 2 + 0px;
  border-radius: $size / 2 + 0px;
}

.btn {
  color: white;
  background-color: $lightPurple;
  border: none;
  border-radius: 24px;
  width: 192px;
  height: 48px;
}

div.row.amp-ad {
  max-width: 100%;
	margin: 0px;
}

.nav {
  li.nav-item {
    list-style: none;
    margin: 0px 10px;
  }
}

section {
  padding: 25px 50px;
}

section.header {
	padding: 25px;
  max-width: 1100px;
  margin: 0px auto;
}

section.welcome {
	.welcome-message {
		color: white;
		text-align: left;
	}
	background: linear-gradient(to right, $blue, #487B9F);
}

section.pie-charts-welcome {
  .pie-chart-welcome {
    position: relative;
    max-width: 310px;
  }
  .pie-container {
    position: relative;
  }
  .pie-counts-list {
    height: 200px;
    overflow: hidden;
    padding: 0px 10px;
  }
  p.pie-list-item {
    text-align: left;
  }
  .chart-center-stat {
    top: 28.25%;
    left: 16.25%;
    background: white;
    @include circle(190px);
    height: 57.5%;
    width: 67.5%;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    align-content: center; 
    justify-content: center;
    p, h1 {
      display: block;
      text-align: center;
      width: 100%;
      margin: 0px;
    }
  }
}

section.searchbar {
	background-color: $gray;
	padding: 20px;
	form p {
		display: inline-block;
	}
}

section.popular-data-requests {
  .popular-col {
    padding: 0px;
  }
}

